.chat-list {
    border: 2px solid lightgreen;
    border-radius: 20px;
    padding: 10px;
    width: 70%; 
    margin: 50px auto;
}

.chat-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid lightblue;
    padding: 10px 0;
}

.chat-item:last-child {
    border-bottom: none;
}

.chat-item img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.chat-info {
    flex-grow: 1;
}

.chat-info h4 {
    margin: 0;
}

.delete-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
}
